---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE } from "../../config.ts";

const posts = await getCollection("posts");
const tags = [...new Set(posts.flatMap(post => post.data.tags))];
---

<BaseLayout title={`Tags - ${SITE.name}`} description="All tags used in the blog">
  <h1 class="text-2xl font-bold">Tags</h1>
  <ul class="mt-4 flex flex-wrap gap-2">
    {
      tags.map(tag => (
        <li>
          <a href={`/tags/${tag}`} class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-200 mr-2 mb-2">
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
